# OpenAI API Configuration
OPENAI_API_KEY='api-key'

# App Configuration
APP_DEBUG=False
SIMILARITY_THRESHOLD=0.8

# Data Configuration
CATALOG_FILE=data/Apparels_shared.xlsx
VIBES_DATA_DIR=data/vibes/

# UI Configuration
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_ADDRESS=localhost 