# OpenAI API Configuration
openai_api_key='api-key'

# App Configuration
app_debug=False
similarity_threshold=0.8

# Data Configuration
catalog_file=data/Apparels_shared.xlsx
vibes_data_dir=data/vibes/

# UI Configuration
streamlit_server_port=8501
streamlit_server_address=localhost 